@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
@layer base {
  .background-color {
    @apply  bg-[#dfdfdf];
  }
  
  .link-font {
    @apply font-serif;
  }
  .link-hover {
    @apply hover:text-orange-600;
  }
  .card {
    @apply w-64 h-60 bg-[#efefef] rounded-xl
  }
  .component-shadow {
    @apply shadow-md shadow-gray-500
  }
  
}